{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
  <div class="container">

    <h1>리뷰 목록</h1>
    <div class="d-flex justify-content-end">
      <a href="{% url 'reviews:create' %}" class="btn btn-outline-primary">리뷰 작성</a>
    </div>
    {% for review in review_list %}
      <div class="card  mt-3">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'reviews:detail' review.pk %}">{{review.title}}</a>
          </h5>
          <p class="card-text atc-cont">{{review.content}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock body %}
