{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
  <div class="container">

    <h1>회원 목록</h1>
    <table class="table table-hover table-striped table-borderless mt-3">
      <thead>
        <tr class='table-dark '>
          <th>PK</th>
          <th>회원</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_list %}
          <tr>
            <td>{{user.pk}}</td>
            <td>
              <a href="{% url 'accounts:detail' user.pk %}">{{user.username}}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock body %}
